@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--color-background: #2c2c2c;
	--color-dark: #3b4b3b;
	--color-medium: #5a7a5a;
	--color-light: #70a070;
	--color-contrast: #a0c070;
}

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-size: 1rem;
}

body {
	background-color: var(--color-background);
	margin-bottom: 10vh;
}
