@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
	--color-background: #121c12;
	--color-dark: #243122;
	--color-medium: #3f6b44;
	--color-light: #70a070;
	--color-contrast: #c1df9d;
}

* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-size: 1rem;
}

body {
	background-color: var(--color-background);
	font-family: "Lora", sans-serif;
	margin-bottom: 10vh;
}
